/*
aledo blue - #083d6f , hsl(209, 87%, 23%, 1)
aledo orange - #d04701 , hsl(20, 99%, 41%, 1)
*/

/* Global Styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h2,
p,
button,
div.copyright {
  color: hsla(209, 87%, 23%, 1);
}

button {
  background-color: hsla(209, 87%, 95%, 1);
  border: 1px solid hsla(209, 87%, 23%, 1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

button:hover {
  background-color: hsla(15, 87%, 95%, 1);
  border: 1px solid hsla(15, 87%, 23%, 1);
  color: hsla(15, 87%, 23%, 1);
  cursor: pointer;
}

.content-btn {
  width: 6rem;
}

/* Header Styles */
header {
  position: fixed;
  background-color: hsla(209, 87%, 95%, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrapper-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}

.logo {
  height: 5rem;
}

.toggle-collapse {
  font-size: 1.5rem;
}

.navbar-nav {
  text-align: center;
  overflow: hidden;
  height: 0vh;
  transition: all 499ms ease;
}

.collapse {
  height: 100vh;
}

.navbar-nav .nav-item {
  padding: 1rem 0;
  font-size: 1.75rem;
}

header a {
  text-decoration: none;
  color: hsla(209, 87%, 23%, 1);
}

header a:hover {
  color: hsla(20, 99%, 41%, 1);
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
}

.hero-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  font-size: 1.5rem;
  width: 90%;
  background-color: hsla(209, 87%, 95%, 0.9);
  padding: 0.75rem 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  margin-bottom: 1rem;
}

/* Banner Styles */
.banner {
  background-image: url("./images/banner-downtown.jpg");
  scroll-snap-align: start;
}

.banner h2 {
  width: 90%;
  text-align: center;
  font-size: 1.75rem;
  background-color: hsla(209, 87%, 95%, 0.9);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

/* Events Styles */
.events {
  background-image: url("./images/events-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* Shops Styles */
.shops {
  background-image: url("./images/shops-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* Eats Styles */
.eats {
  background-image: url("./images/restaurants-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* Offices Styles */
.offices {
  background-image: url("./images/offices-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* Parks & Trails Styles */
.parks {
  background-image: url("./images/parks-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* About Styles */
.about {
  background-image: url("./images/about-downtown.jpg");
  flex-direction: column;
  scroll-snap-align: start;
}

/* Contact Styles */
.contact {
  flex-direction: column;
  scroll-snap-align: start;
}

/* Footer Styles */
footer {
  flex-direction: column;
  scroll-snap-align: start;
}
